---
name: push

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null

permissions:
  actions: read
  attestations: none
  checks: none
  contents: read
  deployments: none
  id-token: none
  issues: none
  discussions: none
  packages: read
  pages: none
  pull-requests: read
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: codespell-project/actions-codespell@8f01853be192eb0f849a5c7d721450e7a467c579
        with:
          check_filenames: true
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: mv -vf .github/linters/biome.json .github/linters/commitlint.config.js ./
      - uses: super-linter/super-linter/slim@2bdd90ed3262e023ac84bf8fe35dc480721fc1f2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_ALL_CODEBASE: ${{ !contains(github.event_name, 'pull_request') }}
          VALIDATE_PYTHON_PYINK: false
          VALIDATE_PYTHON_BLACK: false
          VALIDATE_PYTHON_PYLINT: false
          VALIDATE_GO: false
  notify-clavis:
    needs: [codespell, super-linter]
    if: >-
      success() &&
      github.event_name == 'push' &&
      github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_CLAVIS }}
          repository: streambinder/clavis
          event-type: unciae-sync
          client-payload: >-
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}"
            }
  notify-imperium:
    needs: [codespell, super-linter]
    if: >-
      success() &&
      github.event_name == 'push' &&
      github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f
        with:
          token: ${{ secrets.REPOSITORY_DISPATCH_IMPERIUM }}
          repository: streambinder/imperium
          event-type: unciae-sync
          client-payload: >-
            {
              "ref": "${{ github.ref }}",
              "sha": "${{ github.sha }}"
            }
